__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.venv/
workspaces/
wandb/
/data/
/datasets/
*.ckpt
*.pth
*.pt
*.h5
*.hdf5
*.sf2
*.sfz
*.wav
*.flac
*.mp3
!demo/docs/assets/*.mp3
*.log
.DS_Store
